In [1]:
import pandas as pd

In [2]:
teste = pd.read_csv('/content/ca-2004-01.csv', sep =';')

In [3]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281531 entries, 0 to 281530
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     281531 non-null  object
 1   Estado - Sigla     281531 non-null  object
 2   Municipio          281531 non-null  object
 3   Revenda            281531 non-null  object
 4   CNPJ da Revenda    281531 non-null  object
 5   Nome da Rua        281531 non-null  object
 6   Numero Rua         281358 non-null  object
 7   Complemento        92233 non-null   object
 8   Bairro             280713 non-null  object
 9   Cep                281531 non-null  object
 10  Produto            281531 non-null  object
 11  Data da Coleta     281531 non-null  object
 12  Valor de Venda     281531 non-null  object
 13  Valor de Compra    195235 non-null  object
 14  Unidade de Medida  281531 non-null  object
 15  Bandeira           281531 non-null  object
dtypes: object(16)
memory usage: 34.4+ MB

In [4]:
teste.isnull().sum()

Regiao - Sigla            0
Estado - Sigla            0
Municipio                 0
Revenda                   0
CNPJ da Revenda           0
Nome da Rua               0
Numero Rua              173
Complemento          189298
Bairro                  818
Cep                       0
Produto                   0
Data da Coleta            0
Valor de Venda            0
Valor de Compra       86296
Unidade de Medida         0
Bandeira                  0
dtype: int64

In [5]:
#como se nota, existem 4 variáveis/colunas com valores nulos

In [6]:
teste.duplicated().sum()

0

In [7]:
teste['Bairro'].value_counts()

CENTRO                 56403
ZONA RURAL              3683
SEDE                    1546
DISTRITO INDUSTRIAL     1416
SÃO CRISTÓVÃO           1207
                       ...
TERRAS ALTAS               2
BASE NAVAL                 2
PEITORÓ / CAXIAS           2
JD. SAO MIGUEL             2
SERRA DA SANTA             1
Name: Bairro, Length: 5784, dtype: int64

In [8]:
teste['Bairro'].unique()

array(['BONSUCESSO', 'JARDIM ZULMIRA', 'TAGUATINGA', ..., 'QUARÁ II',
       'SERRA DA SANTA', 'LAGO AZUL'], dtype=object)

In [9]:
teste['Bairro'].nunique()

5784

In [10]:
#função para receber as 3 sintaxes acima
def funcao_teste(dataframe, coluna):
  print(f'Contar valores: {dataframe[coluna].value_counts()}')
  print('=-'* 20)
  print(f'Quais são esses valores: {dataframe[coluna].unique()}')
  print('=-' * 20)
  print(f'Quantos valores únicos existem: {dataframe[coluna].nunique()}')
  print('=-'* 20)
  print(f'Numeros nulos: {dataframe[coluna].isnull().sum()}')

In [11]:
funcao_teste(teste, "Bairro")

Contar valores: CENTRO                 56403
ZONA RURAL              3683
SEDE                    1546
DISTRITO INDUSTRIAL     1416
SÃO CRISTÓVÃO           1207
                       ...
TERRAS ALTAS               2
BASE NAVAL                 2
PEITORÓ / CAXIAS           2
JD. SAO MIGUEL             2
SERRA DA SANTA             1
Name: Bairro, Length: 5784, dtype: int64
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Quais são esses valores: ['BONSUCESSO' 'JARDIM ZULMIRA' 'TAGUATINGA' ... 'QUARÁ II'
 'SERRA DA SANTA' 'LAGO AZUL']
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Quantos valores únicos existem: 5784
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Numeros nulos: 818

In [12]:
funcao_teste(teste, "Valor de Compra")

Contar valores: 1,66       841
1,69       812
1,19       801
1,65       788
1,21       717
          ...
1,75253      1
1,79626      1
1,76507      1
1,87438      1
1,32511      1
Name: Valor de Compra, Length: 18224, dtype: int64
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Quais são esses valores: ['1,6623' '0,6282' '1,1704' ... '0,72863' '0,79841' '1,32511']
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Quantos valores únicos existem: 18224
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Numeros nulos: 86296

In [13]:
#pensei em preencher esses valores nulos de acordo com a frequencia de bairros/cidades para imputar valores em "bairros" e "Valor de compra"

In [14]:
teste['Municipio'].nunique()

616

In [15]:
teste['Bairro'].groupby(teste['Municipio']).value_counts().nlargest(5)

Municipio       Bairro
RIO DE JANEIRO  CAMPO GRANDE    741
SAO PAULO       SANTO AMARO     519
                IPIRANGA        511
BRUSQUE         CENTRO          417
CASCAVEL        CENTRO          393
Name: Bairro, dtype: int64

In [16]:
filtrobairro = teste.groupby(['Municipio']).Bairro.value_counts().groupby(level=0, group_keys=False).head(1)
filtrando = pd.DataFrame(filtrobairro)
filtrando

                                       Bairro
Municipio             Bairro
ABAETETUBA            CENTRO               28
ABREU E LIMA          TIMBÓ                64
ACAILANDIA            CENTRO               79
ADAMANTINA            CENTRO              140
AFOGADOS DA INGAZEIRA CENTRO               72
...                                       ...
VOTORANTIM            CENTRO               94
VOTUPORANGA           JARDIM ALVORADA      48
XANXERE               CENTRO              156
XAPURI                CENTRO               28
XINGUARA              CENTRO               67

[616 rows x 1 columns]

In [17]:
filtrando.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 616 entries, ('ABAETETUBA', 'CENTRO') to ('XINGUARA', 'CENTRO')
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Bairro  616 non-null    int64
dtypes: int64(1)
memory usage: 73.5+ KB

In [18]:
filtrando.columns = ['Valores']
filtrando

                                       Valores
Municipio             Bairro
ABAETETUBA            CENTRO                28
ABREU E LIMA          TIMBÓ                 64
ACAILANDIA            CENTRO                79
ADAMANTINA            CENTRO               140
AFOGADOS DA INGAZEIRA CENTRO                72
...                                        ...
VOTORANTIM            CENTRO                94
VOTUPORANGA           JARDIM ALVORADA       48
XANXERE               CENTRO               156
XAPURI                CENTRO                28
XINGUARA              CENTRO                67

[616 rows x 1 columns]

In [19]:
filtrando.drop(columns = ['Valores'], axis = 1, inplace = True)
filtrando

Empty DataFrame
Columns: []
Index: [(ABAETETUBA, CENTRO), (ABREU E LIMA, TIMBÓ), (ACAILANDIA, CENTRO), (ADAMANTINA, CENTRO), (AFOGADOS DA INGAZEIRA, CENTRO), (AGUAS LINDAS DE GOIAS, JARDIM QUERÊNCIA), (ALAGOINHAS, CENTRO), (ALEGRETE, CENTRO), (ALENQUER, ANINGAL), (ALFENAS, CENTRO), (ALMIRANTE TAMANDARE, CACHOEIRA), (ALTA FLORESTA, CENTRO), (ALTAMIRA, APARECIDA), (ALTO BELA VISTA, ALTO BELA VISTA), (ALTO PARAGUAI, BAIRRO BELA VISTA), (ALVORADA, CENTRO), (AMERICANA, CENTRO), (AMPARO, CENTRO), (ANANINDEUA, COQUEIRO), (ANAPOLIS, CENTRO), (ANGRA DOS REIS, CENTRO), (ANTONIO DIAS, CENTRO), (APARECIDA DE GOIANIA, GARAVELO), (APIAI, CENTRO), (APIUNA, CENTRO), (APUCARANA, CENTRO), (ARACAJU, CENTRO), (ARACATUBA, CENTRO), (ARACRUZ, DE CARLI), (ARAGUAINA, CENTRO), (ARAGUARI, CENTRO), (ARAPIRACA, CENTRO), (ARAPONGAS, CENTRO), (ARARANGUA, CENTRO), (ARARAQUARA, CENTRO), (ARARAS, CENTRO), (ARARIPINA, CENTRO), (ARARUAMA, CENTRO), (ARAUCARIA, CENTRO), (ARAXA, CENTRO), (ARCOVERDE, SÃO CRISTÓVÃO), (ARENAPOLIS, BOLIVIA), (ARIQUEMES, SETOR 03), (ARMACAO DOS BUZIOS, CENTRO), (ARROIO GRANDE, CENTRO), (ASSIS, CENTRO), (ASSIS CHATEAUBRIAND, CENTRO), (ATIBAIA, CENTRO), (AVAI, ZONA RURAL), (AVARE, CENTRO), (BACABAL, CENTRO), (BAGE, CENTRO), (BAIXA GRANDE DO RIBEIRO, ZONA RURAL), (BALNEARIO CAMBORIU, CENTRO), (BALSAS, POTOSI), (BARAO DE COCAIS, SAO JOSE), (BARBACENA, CENTRO), (BARRA, ZONA SUBURBANA), (BARRA DE SAO FRANCISCO, CENTRO), (BARRA DO CORDA, TRESIDELA), (BARRA DO PIRAI, CENTRO), (BARRA MANSA, CENTRO), (BARRAS, CENTRO), (BARREIRAS, CENTRO), (BARRETOS, CENTRO), (BARUERI, ALPHAVILLE), (BAURU, CENTRO), (BAYEUX, SESI), (BEBEDOURO, CENTRO), (BEBERIBE, PARAJURU), (BELEM, MARCO), (BELFORD ROXO, CENTRO), (BELO HORIZONTE, FLORESTA), (BELO JARDIM, CENTRO), (BENTO GONCALVES, CIDADE ALTA), (BETIM, ANGOLA), (BIGUACU, CENTRO), (BIRIGUI, CENTRO), (BLUMENAU, ITOUPAVA NORTE), (BOA ESPERANCA, CENTRO), (BOA VISTA, CENTRO), (BOM CONSELHO, CENTRO), (BOM DESPACHO, CENTRO), (BOM JESUS, ZONA RURAL), (BOTUCATU, CENTRO), (BRAGANCA, TREVO), (BRAGANCA PAULISTA, CENTRO), (BRASILIA, ASA SUL), (BREVES, CENTRO), (BRUMADO, DR. JURACY), (BRUSQUE, CENTRO), (BUERAREMA, CENTRO), (CABEDELO, BESSA), (CABO DE SANTO AGOSTINHO, DISTRITO INDUSTRIAL), (CABO FRIO, CENTRO), (CACADOR, CENTRO), (CACAPAVA, CENTRO), (CACAPAVA DO SUL, CENTRO), (CACERES, CENTRO), (CACHOEIRA DO SUL, CENTRO), ...]

[616 rows x 0 columns]

In [36]:
for x in teste['Municipio'].unique():
  for c in teste.index:
    if pd.isnull(teste['Bairro'][c]):
      if teste['Municipio'][c] == x:
        teste['Bairro'][c] = filtrando.loc[x]
      
    else:
      continue

ValueError: ignored

In [30]:
filtrando.loc['ADAMANTINA']

Empty DataFrame
Columns: []
Index: [CENTRO]